#content .slide .request-form {
  @include column(4);
  padding: 0;
  color: $white;

  .caption {
    @include adjust-font-size-to($large-font-size, 1.8);
    background: $request-form-green;
    padding: 0 30px 0 70px;
    @include padding-leader(2.2, $large-font-size);
    @include padding-trailer(2.2, $large-font-size);
    border-bottom: 3px solid $orange;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 51px;
      height: 25px;
      left: -25px;
      bottom: -20px;
      margin-left: 50%;
      background: image-url("orange-triangle.png") center no-repeat;
    }
  }

  .form {
    background: $blue;
    padding: 0 35px 0 40px;
    @include padding-leader(1);
    @include padding-trailer(1.5);
    border-bottom: 3px $olive solid;
    .title {
      @include adjust-font-size-to($small-font-size);
      text-align: center;
      font-weight: bold;
    }

    .line { 
      @include padding-trailer(.5);

      &:last-of-type { text-align: right; }
    }

    .label, .text-field, .select { display: block; }

    .label {
      @include adjust-font-size-to($micro-font-size, 1);
      @include padding-leader(.5);
      @include padding-trailer(.5);
    }

    .text-field {
      height: 40px;
      border: none;
      outline: none;
      width: 100%;
      background: $white;
      color: $blue;
      padding: 0 10px 0 15px;
      @include adjust-font-size-to($text-field-font-size, 2);
      border-bottom: 3px $white solid;

      &:focus { border-bottom: 3px $submit-green solid; }
    }

    .select {
      height: 40px;
      border: none;
      outline: none;
      width: 100%;
      background: $white;
      color: $blue;
      padding-left: 15px;
      @include adjust-font-size-to($option-font-size, 2);

      option { 
        text-align: right;
        border: none;
      }
    }

    .submit {
      @include inline-block;
      @include margin-leader(1);
      color: $violet;
      width: 160px;
      height: 40px;
      border: none;
      background: $submit-green;
      border-bottom: 3px $submit-green solid;
      @include adjust-font-size-to($text-field-font-size);

      &:hover, &:active { border-bottom: 3px $orange solid; }
      &:active { background: darken($submit-green, 9%) }
    }
  }
}