#coaches {
  .title {
    @extend .orange-title;
    @include margin-trailer(3, 40px);
  }

  .container {
    font-size: 20px;
    line-height: 1.2em;
    color: #232d3b;
    text-align: left;

    .text {
      @include box-sizing(border-box);
      width: 320px;
      margin: 0 -4px;
      padding: 40px 25px 30px 25px;
    }

    a {
      text-decoration: none;
      @include box-sizing(border-box);
      color: white;
      font-weight: bold;
      width: 100%;
      padding: 0 15px 0 30px;
      position: absolute;
      bottom: 15px;
      left: 0px;

      &:after {        
        position: absolute;
        right: 15px;
      }
    }

    .img {
      @include box-sizing(border-box);
      background-size: cover;
      position: relative;
    }

    .top-box {
      background-color: $olive;
      @include column(8);
      height: 316px;
      border-bottom: 3px solid $orange;
      margin-left: -2px;
      float: left;
      
      .img {
        @include inline-block;
        @include back-img("angel_1.jpg", 320px, 100%);
        margin: 0 -2px;

        a:after {
          content: ">";
        }
      }

      .text {
        @include inline-block;
      }
    }

    .right-box {
      background-color: $olive;
      @include column(4);
      height: 636px;
      border-left: 3px solid $orange;
      margin-right: -2px;
      float: right;
      
      .img {
        @include back-img("angel_2.jpg", 317px, 316px);
        margin: 0 -2px;

        a:after {
          content: ">";
          @include rotate(90deg);
        }
      }
    }

    .bottom-box {
      background-color: $olive;
      @include column(8);
      height: 316px;
      border-top: 3px solid $orange;
      margin-left: -2px;
      margin-top: 4px;
      float: left;
      
      .img {
        @include inline-block;
        @include back-img("angel_3.jpg", 320px, 100%);
        margin: 0 -4px 0 1px;

        a:after {
          content: "<";
        }
      }

      .text {
        @include inline-block;
      }
    }
  }
}