// font
$base-font-size: 14px;
$base-line-height: 20px;

$title-font-size: 40px;

$huge-font-size: 36px;
$large-font-size: 30px;
$medium-font-size: 22px;
$small-font-size: 22px;
$micro-font-size: 18px;

$option-font-size: 16px;
$text-field-font-size: 20px;

// colors
$sky-blue: #a0ddf3;
$blue: #9189ff;
$orange: #e05d41;
$white: #fff;
$text-color: #333;
$green: #33f39b;
$yellow: #ffea00;
$olive: #7aa700;
$light-sky-blue: #72daff;
$violet: #7500a7;

$phone-number-name: #38f1a1;
$skype-name: #12a5f4;

$request-form-green: #6acc59;
$submit-green: #0cf389;